/*Mobile First*/

.header-section {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
 /* header > h1 */
.header-section_title {
    padding-bottom: 10px;
    border-bottom: 3px solid #60a771;

}

/* MAIN*/
.body-section {
    width: 100%;
    height: calc(100vh - 110px);
    padding: 20px;
}

.cad-task {
 width: 100%;
 height: 120px;

 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 gap: 15px;
}

.cad-task_entry {
    width: 100%;
    height: 40px;
    padding: 5px 10px;
    border-radius: 5px;
    outline: none;
    border: none;
    color: #898787;
}

.cad-task_entry::placeholder{
    color: #cecece;
}

.cad-task_btn-confirm {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #60a771;
    color: #fff;
    border-radius: 5px;
    border: 1px solid #60a771;
}

.header-section_title {
    padding-bottom: 10px;
    border-bottom: 3px solid #60a771;
}

/* section - list de tarefas*/
.cardlist {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px 0;
}

.cardtask {
    display: flex;
    align-items: center;
    padding: 0 15px;
    font-size: 13px;
    width: 100%;
    height: 70px;
    border-radius: 10px;
    background-color: #31364d;
    justify-content: space-between;
}

/* caixa com os 2 icones */
.cardtask_icon-box {
    width: 80px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* caixa do icone*/
.cardlist_icon {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 35px;
    height: 35px;
    border-radius: 5px;
}

/* primeira div - pseudo-element CSS*/
.cardlist_icon:first-of-type {
    border: 1px solid #9bb8ed
}

/* segunda div - pseudo-element CSS*/
.cardlist_icon:last-of-type {
    border: 1px solid #d46e75
}

/* FOOTER*/
.footer-section {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-section_right-text {
    font-size: 12px;
}